@using static UserManager.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="~/Home" class="brand-link">
        <img src="~/images/logo.png" alt="Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">User Manager</span>
    </a>
    <div class="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/images/black-profile.png" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hello, @User.Identity.Name</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a href="#" class="d-block">Hello, Guest</a>
                </div>
            </div>
        }
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item ">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("Home","Index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>
                @if (User.Identity.IsAuthenticated && User.IsInRole(UserManager.Enums.Roles.Admin.ToString()))
                {
                    <li class="nav-item ">
                        <a asp-controller="RoleManager" asp-action="Index" class="nav-link @Url.MakeActiveClass("RoleManager","Index")">
                            <i class="fa-solid fa-helmet-safety"></i>
                            <p>
                                Roles
                            </p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a asp-controller="UserManager" asp-action="Index" class="nav-link @Url.MakeActiveClass("UserManager","Index")">
                            <i class="fa-solid fa-user"></i>
                            <p>
                                Users
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>