@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="card-body">
    <div class="auth-brand text-center text-lg-start">
        <div class="auth-logo text-center">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="text-center">
                <span class="logo-lg">
                    <img src="@Url.Content("~/images/logo.png")" alt="" height="22">
                </span>
                <h2>User Manager</h2>
            </a>
        </div>
    </div>

    <h4 class="mt-0">@ViewData["Title"]</h4>
    <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>

    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-2">
            <label asp-for="Input.Email" class="form-label"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" autocomplete="off"/>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Input.Password" class="form-label"></label>
            <div class="input-group input-group-merge">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <div class="input-group-text" data-password="false">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" asp-for="Input.RememberMe" type="checkbox" />
                <label asp-for="Input.RememberMe" class="form-check-label">
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="d-grid text-center">
            <button class="btn btn-primary" type="submit">Log In </button>
        </div>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
