@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="m-0 text-dark">Home</h2>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="text-center">
            <h1 class="display-4">Welcome, @(User.Identity?.IsAuthenticated == false ? "Guest" : User.Identity?.Name)</h1>

            @if (User.Identity?.IsAuthenticated == true)
            {
                if (User.IsInRole(UserManager.Web.Enums.Roles.Admin.ToString()))
                {
                    <h2>You are the system admin! 😎</h2>
                }
                else
                {
                    var appUser = await _userManager.FindByNameAsync(User.Identity?.Name);
                    var roles = await _userManager.GetRolesAsync(appUser);
                    <h2>Your roles are: @string.Join(",", roles)</h2>
                }
            }
            <br />
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>